<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/reunion.css">
        <title>Family Reunion</title>
    </head>
<body>
<div class="content">
    