<div id="navbar" class="ui stackable borderless menu ">
    <a href="/" class="item">Home</a>
    <a href="/firstyear" class="item">2018 Recap</a>
    <a href="/destination" class="item">Destination</a>
    <a href="/activity"class="item">Events & Activities</a>
    <a href="/forum"class="item">Discussion</a>
    <div class="right menu">
            <%if (!currentUser){ %>
            <a class="item" href="/login">Login</a>
            <!-- <a class="item" href="/register">Sign Up</a> -->
            <% }else { %>
             <!-- <a class="item" href="/profile">Signed in as <%= currentUser.username %></a>-->
            <a class="item" href="/logout">Logout</a>
            <% } %>
    </div>
  </div>


