<div id="navbar" class="ui pointing menu ">
  <div  class="left menu">
        <div  class="item">
        <a href="/">Home</a>
        </div>
        <div class="item">
        <a href="/firstyear" >2018 Recap</a>
        </div>
        <div class="item">
        <a href="/destination" >Destination</a>
        </div>
    </div>
    
    <div class="right menu">
            <%if (!currentUser){ %>
        <div class="item">
        <a  href="/login">Login</a>
        </div>
        <!-- <a class="item" href="/register">Sign Up</a> -->
            <% }else { %>
        <!-- <div class="item">
        <a  href="/profile">Signed in as <%= currentUser.username %></a>
        </div> -->
        <div>
        <a class="item" href="/logout">Logout</a>
        </div>
            <% } %>
    </div>
  </div>


