<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<div class="container">
    <div class="row">
<h1 style="text-align: center;">Edit Comment</h1>
<div style="width: 30%; margin: 25px auto;">
    <form action="/destinations/<%= destination_id%>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="">
            <input class="" type="textarea" name="comment[text]" value="<%= comment.text %>">
            </div>
        <div class="">    
            <button class="">Submit</button>
        </div>
</form>
<a href="/destinations">Back to Destinations Page</a>
</div>
    </div>
</div>


<% include ../partials/footer %>