<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/flashes %>
<div class="ui container segment">
<div class="ui huge header">Reunion Destination</div>
<h2>Hurricane, UT</h2>
<h3>Coral Springs Resort</h3>
    
<ul>
    <li>15 Minutes from St. George Airport. 2 Hours from Las Vegas Airport. </li>
    <li>Accommodations are 1, 2 and 3 bedroom suites</li>
    <li>With fully stocked kitchens, and can be linked together with shared patio space.</li>
    <li>We could likely get an entire floor of suites.</li>
    <li>Pool and spa on site</li>
    <li> Golf, Hiking or horse tours through Zion National Park</li>
    <li>Zip Lining, Shopping, dining and movies in St. George</li>
    <li>Boating/ fishing, ATV sand dunes</li>
    <li>Wakeboard park</li>
    </ul>
    <p><a href="https://coralspringsresort.com/">Coral Springs Website</a></p>
    <img class="ui centered rounded image reunion" src="http://i.imgur.com/U6CMIgl.jpg">
</div>
    



<%include ./partials/footer %>