<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/flashes %>

<h1>Event Details</h1>

<p>Sample Itinerary:</p><br>

<div class="item">
    <div class="content">
<p><strong>June 23 - Saturday</strong></p>
<p>All-Day: Arrive</p>
<p>6:00 pm - Dinner</p>
    </div>
<div class="ui divider"></div>

    <div class="content">
<p><strong>July 1 - Sunday</strong></p>
<p>8:00 am - Last folks Leave</p>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%include ./partials/footer %>