<% include ./partials/header %>

<h1>Event Details</h1>

Sample Itinerary:

<div class="item">
    <div class="content">
<p><strong>May 25 - Friday</strong></p>
<p>All-Day: Arrive</p>
<p>6:00 pm - Dinner</p>
    </div>
<div class="ui divider"></div>

    <div class="content">
<p><strong>May 26 - Saturday</strong></p>
<p>8:00 am - Leave</p>
    </div>
</div>

<%include ./partials/footer %>