<% include ./partials/header %>
<div class="jumbotron">
    <div class="container"><h1>Family Reunion Homepage</h1>
<p id="introparagraph">This is the family reunion website for the Hill, Tierney, & Lesagonicz family reunion 2018. This is a work in progress. If you see anything wrong or broken, please email me so I can fix it</p>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Important People</div>
    <div class="panel-body">
        <p>These are the coordinators for the family reunion. Reach out to them for questions in their domain...or jump over to the forum to discuss ideas and coordinate with each other in real time</p>
        <table class="table">
            <!--IMPORT CONTACT PEOPLE FROM DB HERE. NAME, ROLE, CONTACT INFO -->
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Contact</th>
            </tr>
            <tr>
                <td>Michael Hill</td>
                <td>Mister Reunion Czar</td>
                <td>Phone / Email </td>
            </tr>
                        <tr>
                <td>Francie Hill</td>
                <td>Misses Reunion Czar</td>
                <td>Phone / Email </td>
            </tr>
                        <tr>
                <td>Daniel Hill</td>
                <td>Website Admin</td>
                <td>daniel.hill13@gmail.com</td>
            </tr>
        </table>
    </div>
</div>



<%include ./partials/footer %>