<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/flashes %>

<div class="ui container">
<h1>Hill Family Reunion 2018 Homepage</h1>
    </div>

<div class="ui container segment">
<h2>Save the Date!</h2>
<h4>June 26 - July 1, 2018 -- <a href="https://coralspringsresort.com/" target="_blank">Coral Springs Resort, Utah</a></h4>
<h2>Survey Time Again! Please take the second survey <a href="https://www.surveymonkey.com/r/6CXGNT2">here!</a></h2>
<h5>
Welcome to the Hill Family Reunion 2018 reunion website! This site will provide a place for collaboration, sharing and discussion. 
	<br><br>Michael and Francie have kicked off an effort to find a great destination for all of us to enjoy together
</h5>
<div class="ui divider"></div>
<h3>Updates</h3>

<p>Survey Time Again! Please take the second survey <a href="https://www.surveymonkey.com/r/6CXGNT2">here!</a></p>
<p>The initial survey has been closed. you can see the results <a href="https://docs.google.com/presentation/d/1rIFBCei057oIb0TULzs0LH5HcJbk0K1MLZM9MOeRQqk/edit?usp=sharing">here</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<%include ./partials/footer %>