<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/flashes %>

<div class="ui container">
<h1>Hill Family Reunion 2018</h1>
    </div>

<div class="ui container segment" id="homeheader">
<h1 style="font-size: 3em;"><em>Save the Date!</em></h1>
<img src="http://i.imgur.com/AKqx6tu.png" alt="Coral Springs Resort">
<h3>June 26 - July 1, 2018 -- <a href="https://coralspringsresort.com/" target="_blank">Coral Springs Resort, Utah</a></h3>
<h2>Survey Time Again! Please take the second survey <a href="/survey2/new">here!</a></h2>
<h5>
Welcome to the Hill Family Reunion 2018 reunion website! This site will provide a place for collaboration, sharing and discussion. 
	<br><br>Michael and Francie have kicked off an effort to find a great destination for all of us to enjoy together
</h5>
<div class="ui divider"></div>
<h3>Updates</h3>

<p>Survey Time Again! Please take the second survey <a href="/survey2/new">here!</a></p>
<p>The initial survey has been closed. you can see the results <a href="https://docs.google.com/presentation/d/1rIFBCei057oIb0TULzs0LH5HcJbk0K1MLZM9MOeRQqk/edit?usp=sharing">here</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<%include ./partials/footer %>