<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/flashes %>

<div class="ui container segment" id="homeheader">
<h1>Hill Family Reunion</h1>
<h3>The First Reunion is in the books!</h3>
<h3>A HUGE thank you to Francie for organizing an amazing week!</h3>
<img id="poolphoto" src="http://i.imgur.com/AKqx6tu.png" alt="Coral Springs Resort">
<h3>Updates</h3>
<a href="/firstyear">See the fun from June 2018 in Utah!</a>

</div>


<%include ./partials/footer %>