<% include ./partials/header %>
<h1>Family Reunion Homepage</h1>
<p>This is the family reunion website for the Hill / Tierney / Lesagonicz 2018 family reunion.</p>
<p>Michael and Francie have kicked off an effort to whittle down a list of possible destinations. This site will (hopefully) provide a place for collaboration, sharing, and discussion.</p>
<p style="font-size: 0.7em;">Also - this site is my (Daniel's) practice run in making a first real website. Don't go easy on me - tell me what's wrong with it!!</p>

   

<%include ./partials/footer %>