<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/flashes %>

<div class="ui container">
<h1>Hill Family Reunion 2018 Homepage</h1>
<h3>Survey is now closed. See the results <a href="https://docs.google.com/presentation/d/1rIFBCei057oIb0TULzs0LH5HcJbk0K1MLZM9MOeRQqk/edit?usp=sharing">here</a></h3>
    </div>
<div id="carouselcontainer" class="ui container segment">
  <div class="mySlides">

    <div class="carouselcaptionbtm">
      It's family reunion time!
    </div>
    <img src="http://i.imgur.com/ekeOYUE.jpg" alt="paula and danny wedding">
  </div>
  <div class="mySlides">
    <img src="http://i.imgur.com/U6CMIgl.jpg" alt="Utah">
    <div class="carouselcaptionbtm">
      Hurricane, Utah. Check it out <a href="destinations.html#hurricane">here!</a>
    </div>
  </div>
  <div class="mySlides">
    <img src="http://i.imgur.com/xP7Dj6W.jpg" alt="Jackson Hole">
    <div class="carouselcaptionbtm">
      Jackson Hole, Wyoming. Check it out <a href="destinations.html#jacksonhole">here!</a>
    </div>
  </div>

    <button class="ui mini button carouselbtnleft" onclick="plusDivs(-1)">&#10094;</button>
    <button class="ui mini button  carouselbtnright" onclick="plusDivs(+1)">&#10095;</button>
</div>
<div>
</div>
<div class="ui container segment">
<h4>
Welcome to the Hill Family Reunion 2018 reunion website! This site will provide a place for collaboration, sharing and discussion. 
	<br><br>Michael and Francie have kicked off an effort to find a great destination for all of us to enjoy together
</h4>
<div class="ui divider"></div>
<h3>Updates</h3>
<p>The initial survey has been closed. you can see the results <a href="https://docs.google.com/presentation/d/1rIFBCei057oIb0TULzs0LH5HcJbk0K1MLZM9MOeRQqk/edit?usp=sharing">here</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<%include ./partials/footer %>