<% include ./partials/header %>

<p>This is the family reunion website for the Hill / Tierney / Lesagonicz 2018 family reunion.</p>
<p>Michael and Francie have kicked off an effort to whittle down a list of possible destinations. This site will (hopefully) provide a place for collaboration, sharing, and discussion.</p>
<p style="font-size: 0.7em;">Also - this site is my (Daniel's) practice run in making a first real website. Don't go easy on me - tell me what's wrong with it!!</p>

<table class="ui single line table">
<h4 class="ui header">Reunion Contacts</h4>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>E-mail address</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Michael Hill</td>
      <td>Mister Reunion Czar</td>
      <td>m@gmail.com</td>
      <td>8001234567</td>
    </tr>
    <tr>
      <td>Francie Hill</td>
      <td>Misses Reunion Czar</td>
      <td>f@gmail.com</td>
      <td>8001234567</td>
    </tr>
    <tr>
      <td>Daniel Hill</td>
      <td>Website Issues, Questions</td>
      <td>d@gmail.com</td>
      <td>8001234567</td>
    </tr>
  </tbody>
</table>
   

<%include ./partials/footer %>