<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1>Reset Password</h1>

<form action="/forgotpassword" method="POST">
    <p>Enter your account email below:</p>
    <input type="email" placeholder="email" required>
    <input type="submit">
</form>
<br>
<p>After submitting, you will receive an email with instructions to reset your password.</p>


<% include ../partials/footer %>
