<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1>Update your profile</h1>

<form class="ui form" action="/profileupdate/<%=currentUser._id %>?_method=PUT" method="POST"> 
    <div>
        <label for="">Email Address:</label>
    <input type="text" name="user[username]" value="<%= currentUser.username%>">
    </div>
    <!--<input type="password" name="password" placeholder="password">-->
    <br>
    <input class="ui blue basic big button" type="submit">
</form>

<% include ../partials/footer %>
