<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1>Sign up!</h1>

<form action="/register" method="POST">
    <input type="email" name="username" placeholder="enter your email" required >
    <input type="password" name="password" placeholder="password" required >
    <button>Submit</button>
</form>
<a href="/login">Login here</a>
<br>
<a href="/forgotpassword">Forgot your password?</a>


<% include ../partials/footer %>
