<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1>Reset Password</h1>

<form action="/reset/:token" method="POST">
    <input type="email" name="username" placeholder="enter your email" required >
    <input type="password" name="password" placeholder="password" required >
    <button>Submit</button>
</form>
<% include ../partials/footer %>
