
body {
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
html, body {
    height: 100%;
}
i.icon {
    font-size: 2em;
}

img {
    max-width: 100%;
    overflow: hidden;
}
#navbar .item {
    color: black;
}
@media (max-width: 767px){
    #navbar .item {
        padding: 3px 4px;
    }
}
.ui.mini.button {
    padding: 0.5em 0.5em
}
}
#introparagraph {
    font-size: 1em;
}

.container.main {
    background: #fefbf7;
}
.right {
    overflow: hidden;
    }
#delete {
    display: inline;
}
.delete-form {
    display: inline;
}
#footerdiv {
    position : relative;
    left: 0;
    bottom : 0;
}
#homeheader {
    width: 99%;
    margin-left: 0.3em!important;
    margin-right: 0.3em!important;
}
.lower {
   text-transform: lowercase;
}
.container.main {
    margin-top: 1.0em; 
}

#delete {
    display: inline;
}