
body {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    min-height: 100%;

}
html, body {
    height: 100%;
    margin: auto auto;
}
i.icon {
    font-size: 2em;
}
.content {  
    flex: 1 0 auto;
}
img {
    max-width: 100%;
    overflow: hidden;
}
#navbar .item {
    color: black;
}
@media (max-width: 767px){
    #navbar .item {
        padding: 3px 4px;
    }
    #navbar {
        display: none;
    }
    #footer{
        display: flex;
    }
}
@media (min-width: 768px){
    #footer {
        display: none;
    }
}
#footer {
    flex-shrink: 0;
    height: 24px;
    font-size: 0.85em;
}
#footer div {
    margin: 0px 3px 0px 0px;
}
#footer a {
    padding: 0px 6px;
}
.forumindexentry a {
    color: black;
}
.ui.mini.button {
    padding: 0.5em 0.5em
}
#introparagraph {
    font-size: 1em;
}
.container.main {
    background: #fefbf7;
}
.right {
    overflow: hidden;
    }
#delete {
    display: inline;
}
.delete-form {
    display: inline;
}
.basicdivider {
    margin: 0.1rem;
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
}
#navbar {
    width: 100%;
}
#homeheader{
    width: 100%;
}
#homeheader {
    padding: 0.1rem;
}
.lower {
    text-transform: lowercase;
}
.container.main {
    margin-top: 1.0em; 
}
.reunion{
    max-height: 400px;
}
#delete {
    display: inline;
}
.forumindexentry, .comment{
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
    width: 100%;
    
}
.forumindexentry {
    opacity: 0.8;
}
.forumindexentry:hover{
    opacity: 1;
}
.forumindexbody {
    margin: 0.2px;
}
.forumindextitle {
    margin: 0.2px;
}