<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1>Activities and Events</h1>

This is the activities and events index page

<%include ../partials/footer %>

