<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1>New Activity</h1>
<p>Add new activity below</p>

<div class='ui container segment'>
<form class='ui form' action="/activity" method="POST">
    
</form>
</div>
<%include ../partials/footer %>

