<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1>New Activity</h1>

This is the activities and events new page

<%include ../partials/footer %>

