<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1>Activity Name</h1>

This is the activities and events show page

<%include ../partials/footer %>

