<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1> Family Discussion Forum</h1>
<p>Discuss activities, excursions, accomodations, etc here!</p>

<h3><a href="/forum/new">New Topic</a></h3>
<%include ../partials/footer %>

