<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<h1> Discussion Forum</h1>
<p>Let's talk about activities, travel plans, accomodations, etc here!</p>
    <div class="basicdivider"></div>
<% forum.forEach(function(forum){ %>
    <div class='forumindexentry'>
    <a href="/forum/<%= forum._id %>">
        <h4 class='forumindextitle'><%=forum.title%></h4>
        <p class='forumindexbody'><%- forum.body.substr(0,35) %>....click for more</p>
        <p class='forumindexinfo'>Submitted by: <%= forum.author.username %></p>
    </div>
    <div class="basicdivider"></div>
        </a>
<%}) %>
</div>

<h5><a href="/forum/new">New Topic</a></h5>
<%include ../partials/footer %>

