<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/flashes %>
<div class="container">
    <div class="row">
<h1 style="text-align: center;">Add New Comment to topic: <%= forum.title %></h1>
<div style="width: 30%; margin: 25px auto;">
    <form action="/forum/<%= forum._id%>/forumcomment" method="POST">
        <div class="field">
            <textarea class="" type="text" name="forumComment[text]" placeholder="comment...."></textarea>
            </div>
        <div class="form-group">    
            <button class="">Submit</button>
        </div>
</form>
<a href="/forum">Back to Discussion Page</a>
</div>
    </div>
</div>


<% include ../partials/footer %>